.barra{
	width: 93%;
	margin-left: 81px;
	margin-top: 10px;
	border-radius: 5px;
	ul{
		@include ul (none, 0, 0, hidden, $grey-header, 13px, 5px)
	}
	#solo{
		background-color: $black;
		color: $white;
		font-weight: bold;
		font-size: 12px;
	}
	li{
		float: left;
		padding: 10px 7px;
		.bola{
			margin-top: -3px;
			margin-right: 5px;
		}
		a{
			text-decoration: none; 
			color: $gray;
			&:hover{
				color: $gray-dark;
			}
		}
	}
	.bann-h{
		margin-top: 10px;
		width: 100%;
	}
}
.publicidad-2{
	margin-left: -7px;
}