.title-principal {
	text-align: center;
	font-weight: 700;
	font-size: 3em;
}
.social-icons {
	margin: $margin-auto;
	padding: $cinco 0;
	p {
		display: inline;
	}
	img {
		margin: 0 $uno;
	}
}
.contenedor-general {
	box-sizing:border-box;
	padding: $dos;
}
.card {
  position: relative;
  display: block;
  margin-bottom: 0.75rem;
  background-color: #fff;
  border-radius: 0.25rem;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.125);

	& .card-inverse {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
	}
	& .card-img {
  border-radius: 0.25rem;
	}

}


.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}
.card-text {
  font-size: 1.5em;
  font-weight: 500;
  &.card-text-bottom {
  	 margin-top: 35rem;
  }
}

.card-block {
  text-align:center;
  max-width:241px;
  &:after {
  	content: "";
  	display: table;
  	clear: both;
  }
  img {
  	max-width:241px;
  }
}

.slide {
	background: $gray-lighter;
	text-align: center;
}

.publicidad-aside {
	max-width: 100%;
}

.row-news {
    padding: 15px 0 10px;
    border-bottom: 1px solid #cdcdcd;
    height: auto;
    overflow: hidden;
    .date {
	    display: block;
	    margin: 0 0 5px;
	    color: $gray-blue;
	    font-size: 12px;
		}
		.photo {
			float: left;
			margin: 0 10px 0 0;
			img {
				 width: 200px; 
				 height: 120px;
				 display: inline; 
			}
		}
}

.boletin {
	background: $gray-lighter;
  padding: $diez;
  text-align:center;
  img {
    max-width:$cien;
  }
  div {
    background: $white;
    padding: $cinco;
  }
}

.carousel-indicators {
	li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: $red;
    border: 1px solid #fff;
    border-radius: 10px;
	}
}




