$white: white;
$red: #8f0101; 
$black: #1f1f1f;
$blue-twitter: #009bce;
$blue-facebook: #00468c;
$gray: #333;
$gray-blue: #768696;
$gray-lighter: #E3E3E3;
$green: #185757;
$blue-lighter: #00a4df;
$red-lighter: #c33c2d;
$green-lighter: #cdf3a6;
$pink: #f0a3a3;
$yellow: #ffea53;
$pink-darken: #d2186a;
$lila: #872f85;
$gray-dark: #86878A;
$grey-header: #F4F5F7;
$red-lighter-header: #CA4F49;
$orange-rss: #FF8000;
$yellow-email: #FFBF00;
$red-google: #CB4C3F;
$color-border: #E1E4E8;
$color-grey: #7C8A98;
$grey-dark2: #394757;
$burdeo: #941010;
$color-gris: #30353B;
$rojo-btn: #BA1414;
$color-rojo: #B61901;
$color-red: #D90000;



$cien: 100%;
$ochenta: 80%;
$cincuenta: 50%;
$diez: 10%;
$uno: 1%;
$dos: 2%;
$cinco: 5%;

$margin-auto: 0 auto; 